body {
  background-image: url('blue.gif');
  margin-left: 30px;
}
#wrapper {
  width: 1000px;
  padding: 10px;
  /*border: 1px solid green;*/
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 332px;
  color: darkblue;
  background-image: url('white.jpg');
  margin: 5px auto;
  border-bottom-left-radius: 50px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
form {
  margin-top: 5px;
  width: 470px;
  height: 350px;
  border: 1px solid black;
  display: inline-block;
  background-image: url('blue1.jpg');
  color: white;
  border-top-right-radius: 50px;
}
label {
  display: block;
  margin-top: 15px;
  margin-right: 80px;
  margin-left: 80px;
}
h2 {
  margin-left: 10px;
}
input {
  float: right;
}
button {
  margin-top: 30px;
  padding: 2px;
  margin-left: 290px;
  background-image: url('button.gif');
}
.error {
  color: red;
}
img {
  width: 100px;
  height: 100px;
  float: left;
  margin-top: -90px;
  margin-left: 200px;
}
.pic {
  width: 350px;
  height: 200px;
  margin-top: 10px;
  margin-left: 70px;
  border-radius: 50px;
}
